<%= render "shared/nav" %>

<article class="md-col-5 sm-col-11 mx-auto">
  <%= link_to "Log in", new_session_path(resource_name), class: "button button-small bg-white primary right relative mt1" %>
  <h1 class="bold mb0">Sign up</h1>
  <hr class="mt1 mb2">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "field-light" %>

    <%= f.label :password %><small class="ml1">(<%= @minimum_password_length %> characters minimum)</small>
    <%= f.password_field :password, autocomplete: "off", class: "field-light" %>

    <%= f.submit "Sign up", class: "button mt1" %>
  <% end %>
</article>
